@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0a0a0a;
  --accent-orange: #ffba75;
  --accent-purple: #7c3aed;
  --text-primary: #fafafa;
  --text-secondary: #a1a1aa;
}

body {
  @apply bg-black text-zinc-100 antialiased;
}

/* Selection styling */
::selection {
  @apply bg-accent-orange text-black;
}

/* Custom Scrollbar Hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-serif {
  font-family: var(--font-serif);
}

